.margin{width:1344px;margin:0 auto;}
.bg{display:inline-block;background:url(../images/bg.png) no-repeat center;vertical-align:middle;}
.bg2{display:inline-block;background:url(../images/bg2.png) no-repeat center;vertical-align:middle;}
.bg3{display:inline-block;background:url(../images/bg3.png) no-repeat center;vertical-align:middle;}

#header{height:108px;border-bottom:2px solid #bc0e31;}
#header img{display:block;float:left;margin-top:26px;}

#cont{height:500px;display:flex;margin-top:35px;justify-content:space-between;}
#cont img{width:500px;height:400px;}
#cont .box{width:400px;height:455px;border:1px solid #ddd;padding:0 55px 0 35px;border-bottom:1px solid #f9f;}
#cont .box h3{font:24px/80px "";}
#cont .box input{display:block;margin-top:20px;}
#cont .box #user{width:325px;height:35px;padding-left:10px;}
#cont .box #pass{width:325px;height:35px;padding-left:10px;}
#cont .box #chk{margin-right:10px;}
#cont .box h6{display: flex;align-items: center;}
#cont .box h6 b{padding-top:20px;}
#cont .box #btn{width:338px;height:45px;background:#d50000;color:#fff;font:18px/45px "";border:none;}
#cont .box .l6{font-size:14px;color:#000;position:relative;}
#cont .box .l6 p span{font-size:14px;color:#f99;position:absolute;left:70px;}


#cont .box p{display: flex;align-items: center;}
#cont .box p a{font:14px/48px "";color:#3472b2;margin:0 10px;}
#cont .box p a:hover{text-decoration:underline;}

#cont .box .box-b{font:14px/36px "";color:#333;}
#cont .box .box-b i{margin:10px 5px;}
#cont .box .box-b i.i1{width:31px;height:33px;background-position:-8px -11px;}
#cont .box .box-b i.i2{width:31px;height:34px;background-position:-59px -12px;}
#cont .box .box-b i.i3{width:31px;height:34px;background-position:-111px -12px;}
#cont .box .box-b i.i4{width:31px;height:34px;background-position:-163px -12px;}

#footer{height:280px;border-top:1px solid #333;}
#footer ul{display:flex;justify-content:center;color:#ccc;}
#footer ul li{margin:0 7px;}
#footer ul li img{margin:10px;width:143px;height:50px;}
#footer ul li img.te{width:130px;height:136px;}
#footer ul.t1{background:#f8f8f5;}
#footer ul.t1 li{font:14px/30px "";color:#867666;}
#footer ul.t1 li em{}
#footer ul li i{margin:0 10px;}
#footer ul li i.i1{width:18px;height:18px;background-position:-181px -231px;vertical-align:middle;}
#footer ul li i.i2{width:18px;height:18px;background-position:-181px -249px;vertical-align:middle;}
#footer ul li i.i3{width:18px;height:18px;background-position:-181px -271px;vertical-align:middle;}
#footer ul li i.i4{width:18px;height:18px;background-position:-181px -291px;vertical-align:middle;}






























